{% extends 'base.html' %}

{% block content %}

<!--Flask Flashed Messages to User-->
<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat,msg in messages %}
                {% if cat == 'user-created'%}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                    </div>

                {% elif cat == 'auth-success' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>See the History of Stephen's Driven Vehicles!</h2>
            <h5>Featuring several of the great (or not so great) vehicles in Stephen's vehicle ownership past. 
                You too can have a similar experience by following the links to find these vehicles for sale 
                right now!</h5>
            <div>
                <button class="btn btn-primary">Check Out Craigslist!</button>
                <button class="btn btn-primary">Search Kelly Bluebook</button>
            </div>
        </div>
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img src="../../static/images/pawel-czerwinski--Y0qPpeO5Us-unsplash.jpg" alt="Traffic Light Image" class="header-image">
            <p>
                Photo by <a href="https://unsplash.com/@pawel_czerwinski?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pawel Czerwinski</a> 
                on <a href="https://unsplash.com/s/photos/traffic?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </p>
        </div>
    </header>
<!-- End of Header Section -->

<!-- Start Middle Section -->
<section class="row">
    <div class="col-12" id="middle-text">
        <h2>What a Collection!</h2>
        <p>Who could imagine such an ecclectic array of fine automobiles?</p>
    </div>
</section>
<!-- End Middle Section -->

<!-- Collection of Vehicles Section -->
<section class="row" id="vehicles-section">
    <div class="col-12 col-md-3">
        <img src="../../static/images/ford_maverick.png" alt="Maverick Image" id="car-img">
        <h4>1973 Ford Maverick</h4>
        <p>Don't worry about heat or defrosting in the winter! This car just pours out exhaust from the vents.</p>
    </div>
    <div class="col-12 col-md-3">
        <img src="../../static/images/ford_pinto_wagon.png" alt="Orange Pinto Wagon Image" id="car-img">
        <h4>1974 Ford Pinto Wagon</h4>
        <p>Orange is the new black! Convenient giant flathead screwdriver replaces the lost ignition keys! Also, hail damage discount!</p>
    </div>
    <div class="col-12 col-md-3">
        <img src="../../static/images/1980-Chevrolet-El-Camino.jpg" alt="Chevy El Camino Image" id="car-img">
        <h4>1980 Chevrolet El Camino</h4>
        <p>Not getting enough condescension from your neighbors? Drive the quintessential vehicle reknown for "white trash".</p>
    </div>
    <div class="col-12 col-md-3">
        <img src="../../static/images/2010-Mercedes-Benz-GL-Class.png" alt="Mercedes GL350 Image" id="car-img">
        <h4>2010 Mercedes GL350</h4>
        <p>High quality class vehicle!, is what you thought. But then you see the maintenance bills as the engine discards it's own serpentine belt. Breaking the bank was never this much fun!</p>
    </div>
</section>
<!-- End of Collection of Vehicles Section -->

<!-- Manufacturers Section -->
<section class="row">
    <div class="col-12 col-md-6">
        <img src="../../static/images/4141776_ford_logo_icon.png" alt="Ford Logo Image" id="Logo-image">        
        <img src="../../static/images/4140437_general motors_gm_logo_icon.png" alt="GM Logo Image" id="Logo-image">        
        <img src="../../static/images/4140438_logo_mercedes_icon.png" alt="Mercedes Logo Image" id="Logo-image">
    </div>
    <div class="col-12 col-md-6">
        <h4>Domestic Manufacturers! 😜</h4>
        <p>
            Talk about world class! These beauties all hail from the great Unites States of America! 
            Yes! Mercedes Benz GL-class are manufactured in Alabama!
        </p>
        <div>
            <button class="btn btn-primary">Show Your Approval</button>
            <button class="btn btn-primary">Express Your Disdain</button>
        </div>


    </div>
</section>
<!-- End of Manufacturers Section -->

<!-- Start of Footer Section -->
<footer class="row" id="footer">
    <div class="col-2 col-md-4">
        <img src="../../static/images/83150_by_car_icon.png" alt="Car Icon Logo" id="footer-logo">
    </div>
    <div class="col-2 col-md-4">
        <div class="footer-text-flex">
            <h4>Garage</h4>
            <p>Why Drive?</p>
            <p>The Gig Economy</p>
            <p>Driveshare</p>
            <p>Spread the Smog</p>
            <p>Denver Traffic</p>
        </div>
    </div>
    <div class="col-2 col-md-4">
        <div class="footer-text-flex">
            <h4>Garage</h4>
            <p>Why Drive?</p>
            <p>The Gig Economy</p>
            <p>Driveshare</p>
            <p>Spread the Smog</p>
            <p>Denver Traffic</p>
        </div>
    </div>
    </div>
</footer>
<!-- End of Footer Section -->
</div>


{% endblock content %}