{% extends 'base.html' %}

{% block content %}

<h1>Sign Up Now!</h1>
<p>We've got great deals and exciting offers coming your way!</p>
<p>Keep up with the latest info and news by signing up for free!</p>

<main class="container">
    <div class="row">
        <aside class="col-12 col-md-6">
            <h2>Create an Account</h2>
            {% include 'form.html' %}
        </aside>
        <aside class="col-12 col-md-6" id="side-color">

        </aside>
    </div>
</main>


{% endblock content %}